@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.root,
#root,
#docs-root {
    --color-primary: "#E50914";
    --color-dark: "#321E1E";
    --color-white: "#ffffff"
}


#myname {
    color: white;
    -webkit-text-stroke: 0.6px red;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}

.heading {
    color: white;
    -webkit-text-stroke: 0.2px red;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    letter-spacing: 3.5px;
    font-family: 'Montserrat Alternates', sans-serif;
}



::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

#footer {
    color: white;
    -webkit-text-stroke: 1px red;
    -webkit-text-fill-color: transparent;
    font-size: 4.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

@media screen and (max-width: 480px) {
    #logo {
        height: 40px;
        display: block;
        margin: 8px auto;
    }

    #footer {
        font-size: 2rem;
        text-align: center !important;
        -webkit-text-stroke: 0.6px red;
    }
}