@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
    --color-primary: "#E50914";
    --color-dark: "#321E1E";
    --color-white: "#ffffff"
}

#myname {
    color: white;
    -webkit-text-stroke: 0.6px red;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.heading {
    color: white;
    -webkit-text-stroke: 0.4px red;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    letter-spacing: 3px;
}

::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}