@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: "#E50914";
  --color-dark: "#321E1E";
  --color-white: "#ffffff"
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black !important;
  overflow-x: hidden;
}